*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;  

  }
  
  body {
    margin: 0;
    padding: 0;
  }  
  button{
      cursor: pointer;
  }
  .sticky{
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  /* Header styling */
  .top{
      display: flex;
      width: 100%;
      height: 100px;
      background-color:rgb(12, 12, 12);
      align-items:center;
      justify-content: space-between;
      padding: 0px 30px;
      color:rgb(240, 239, 222);

  }
  .left img{
    width: 3.3vw;
    height: 6vh;
    border-radius: 60px;
  }
  header h1{
      margin-left: 40px;
  }

  .right{
      width: 20%;
      margin-right: 20px;
      display: flex;
      justify-content: space-around;
  }
  .right p{
      font-size: 20px;
      text-align: center;
  }
  .right .btn{
   width: 40%;
   padding: 8px 8px;
   border: 2px outset rgb(77, 66, 66);
   border-radius: 10px;
   cursor: pointer;
   color: white;
   box-shadow: 1px 2px 10px gray;
   text-decoration: none;
   text-align: center;
  }

  #login{
     background-color: green;
  }
  #logout{
    background-color: red;

  }
  #signup{
      background-color: orangered;
  }
#profile-btn{
    background-color: rgb(243, 55, 55);
    margin-left: 40px;
}
  /* Main products Slider styling */
   .main-slider img{
      width: 20%;
     height: 400px;
    }
   
    .slider-container{
        overflow: hidden;
        cursor: pointer;
      }
      
      .main-slider{
        overflow: hidden;
        position: relative;
        width: 500%;
        margin: 0;
        left: 0;
        text-align: left;
        animation: 15s slidy infinite; 
      }
      @keyframes slidy{
      0% { left: 0%; }
      20% { left: 0%; }
      25% { left: -100%; }
      45% { left: -100%; }
      50% { left: -200%; }
      70% { left: -200%; }
      75% { left: -300%; }
      95% { left: -300%; }
      100% { left: -400%; }
      }
      
      /* Welcome message styling*/
      .welcome-message{
           color: tomato;
           text-align: center;
           background-color: rgb(253, 242, 253);
           line-height: 1;
           padding: 5px;
      }
      .welcome-message h3{
          color: rgb(25, 248, 55);
          font-size: 21px;
      }

      /* Product cards styling */
      .products{
          height: 100%;
          width: 100%;
      }
    .products h2{
        text-align: center;
        font-size: 35pxpx;
        color: blue;
        margin: 30px;
    }
.product-cards-slider{
    margin: 50px;
}
.product-image{
    margin-bottom: 10px;
}
.product-image p{
    text-align: center;
}
.cards{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
     .card img{
         width: 200px;
         height: 110px;
         display: block;
         margin: 0px auto;
     }
     .card{
         width: 250px;
         height: 100%;
         background-color: white;
         border: 1px solid gray;
         box-shadow: 2px 2px 10px gray;
         margin: 20px;
     }
     .card-btns{
         width: 80%;
         margin: 10px auto;
         display: block;
         text-align: center;
         background-color: orangered;
         padding: 5px;
         color: white;
         border: none;
         border-radius: 6px;
     }
     .card-btns:hover{
       background-color: rgb(215, 238, 247);
       color: rgb(105, 71, 226);
     }
     .addtowishlist{
         background-color: rgb(46, 9, 63);
     }

     #product-description{
        margin:10px 30px;
        text-align: center;

     }
     #product-description p{
         font-size: 13px;
     }
     #product-description h6{
     }
    /* Footer styling */
    .foot{
        height: 300px;
        background-color: rgb(7, 7, 7);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding :0px 40px;
        color: rgb(252, 252, 253);
        cursor: pointer;
    }
     .right-footer input{
      padding: 5px;
      background-color: cadetblue;
      border: none;
      box-shadow: 1px 2px 10px gray;
     }
     .right-footer input::placeholder{
         color: rgb(247, 229, 229);
     }
    
     .subscribe{
        color: rgb(254, 255, 254);
        border: none;
        padding: 5px;
        margin-left: 6px;
        background-color: rgb(252, 7, 7);
     }
     /* Login form styling */
     .signup-body{
         display: flex;
         justify-content: center;
         background: url(../images/login-background.jpg);
         background-repeat:no-repeat;
         background-size: 100% 100%;
         height: 150vh;
     }
     .login-body{
        display: flex;
        justify-content: center;
        background: url(../images/login-background.jpg);
        background-repeat:no-repeat;
        background-size: 100% 100%;
        height: 100vh;
     }
     .login-signup-page{
        display: flex;
        align-items: center;
         width: 40%;
         padding: 30px;
         text-align: center;
         margin: 0px auto;
     }
     .login-signup-page form{
         display: flex;
         flex-direction: column;
         background-color: rgb(22, 22, 46);
         width: 100%;
         margin: 0px auto;
         padding: 30px;
     }
     .login-signup-page h1{
         color: chartreuse;
     }
     .login-signup-page p{
         color: white;
     }
     .login-signup-page input{
         margin: 20px;
         padding: 10px;
     }
     #login-signup-btn{
         width: 90%;
         margin: 20px auto;
         padding: 10px;
         display: flex;
         justify-content: center;
         align-items: center;
         background-color: chartreuse;
         border: none;
         cursor: pointer;
         box-shadow: 2px 2px 10px gray;
         color:tomato;
     }
     #login-signup-btn:hover{
         color: rgb(254, 254, 255);
     }
     .linking{
         margin-left: 2px;
     }
     
     #wishlist-btn{
         background-color: green;
     }
     #order-btn{
         background-color: rgb(21, 61, 240);
     }

     /*wishlist page styling*/
     .wishlist{
         background: url(../images/wishlist-background.jpg);
         height: 1000px;
         background-repeat: no-repeat;
         background-size: cover;
     }
     .wishlist-heading{
         display: flex;
         background-color: rgb(250, 194, 121);
         justify-content: space-around;
         align-items: center;
         padding: 15px;
     }
     .wishlist-heading img{
         width: 60px;
         height: 60px;
         border-radius: 40px;
         filter:invert();
     }
     .wishlist-heading h1{
         color: brown;
     }
     .items-container{
         width: 50%;
         background-color: rgb(178, 178, 179);
         margin: 20px auto;
         padding: 8px;
         display: flex;
         justify-content: space-between;
         align-items: center;
     }
     
     /* .items-container  */
     .items-container button{
       height: 30px;
       padding: 6px 15px;
       border: none;
       border-radius: 3px;
       box-shadow: 1px 2px 10px gray;
       cursor: pointer;
       color: wheat;
       text-align: center;
    }
    .order{
        margin-right: 40px;
        background-color: rgb(98, 42, 252);
    }
    #remove{
        margin-right: 20px;
        background-color: red;
    }

    /*User Page*/
    .userpage{
        background-color: white;
    }
    #sub-menu{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 0px 8px 60px;
        background-color: rgb(100, 197, 116);
        color: white;
        cursor: pointer;
        position: sticky;
    }
    .sub-menu-tabs{
        color: white;
    }
    #home{
        margin: 30px auto;
    }
    /* .user-product-cards{
    } */
    .user-product-cards h2{
        text-align: center;
        margin-top: 60px;
        /* position: relative; */

    }
/*Admin page styling*/
.orders{
    width: 100%;
    margin: 10px auto;
    text-align: center;
    background-color: rgb(241, 248, 246);
}
.orders h1{
    color: rgb(98, 150, 102);
}
.orders-table{
    width: 90%;
    margin: 30px auto;
    background-color: rgb(32, 48, 77);
}
.orders-table th,tr{
    font-size: 20px;
    color:white;
    border-bottom: 1px solid #ddd;
    text-align: center;
    cursor: pointer;
}
.orders-table td{
    height: 60px;
    font-size: 15px;

}
.orders-table th{
    height: 90px;
    font-size: 18px;

}
tr:hover {
    background-color: #160847;
}

.orders-table button{
    padding: 1px 10px;
    background-color: red;
    border: 1px solid blue;
    color: white;
    box-shadow: 1px 2px 10px gray;
}
#admin-products{
    background-color: green;
    padding: 8px;
    border-radius: 10px;
    color: #fff;
}
#admin-products:hover{
    background-color: rgb(160, 209, 114);
}
/* Admin products page styling */
#product-table-edit-btn{
    background-color: green;
    padding: 3px 15px;
    border: none;
}
#admin-products-side{
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 35px;
    text-align: center;
    background-color: rgb(64, 63, 73);
    color: rgb(252, 245, 249);;
    padding: 20px;
}
#admin-products-side h1{
    margin-left: 400px;
}
#products-form{
    width: 60%;
    margin: 10px auto;
    background-color: rgb(158, 155, 152);
    padding:30px;
    border-radius: 10px;
}
#products-form h2{
    text-align: center;
    color: azure;
}
#products-form form{
  display: flex;
  flex-direction: column;
}
#products-form input{
    margin: 15px 0px;
}
.products-form-input:focus{
    border: 2px solid red;
}

.add-product-btn{
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid rgb(187, 122, 248);
    border-radius: 10px;
    background-color: blue;
    color: #fff;
    padding: 5px;
    text-align: center;
}
.update-btn{
    background-color: rgb(170, 241, 4);
}
.add-product-btn:hover{
  background-color: rgb(174, 197, 240);
  color: rgb(88, 74, 74);
}
.myorders-header{
    height: 10%;
    background-color: brown;
    color: #fff;
    text-align: center;
}
.myorders-header h1{
    font-size: 2.4rem;
    padding: 20px;

}
.myorders{
    background-color: rgb(52,161,152);
    width: 100%;
    text-align: center;
    padding: 20px 0px;
}
.order-container{
    width: 70%;
    background-color: #161616;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px auto;
    padding: 40px;
    box-shadow: 1px 1px 10px gray;
    color: rgb(253, 253, 255);
}
.order-container img{
    width: 130px;
    height: 80px;
}
#return-order{
    background-color: rgb(241, 234, 234);
    color: rgb(32, 19, 19);
}
#return-order:hover{
    background-color: rgb(170, 201, 247);
    color: rgb(17, 17, 17);
    box-shadow: 1px 2px 7px white;
}
